/* Style Skill Caroussel */
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* Style général de la page */
.App {
  font-family: 'Arial', sans-serif;
  color: #E6E6E6;
  background-color: #303030; /* Gris anthracite */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style du header */
header {
  background-color: #212121; /* Plus foncé que le fond général */
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #00BFFF; /* Bleu électrique */
  /* Animation existante */
}

nav a {
  text-decoration: none;
  color: #E6E6E6;
  margin: 0 15px;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00BFFF;
  /* Animation existante */
}

/* Style des sections */
section {
  padding: 20px;
  margin: 20px 0;
  border-bottom: 1px solid #474747; /* Séparation subtile entre les sections */
}

section h2 {
  font-size: 2em;
  color: #00BFFF; /* Bleu électrique pour les titres */
}

/* Style des listes */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
}


/* Style de la carte pour la section Contact */
#contact {
  background-color: #212121; /* Couleur de fond de la carte */
  padding: 20px; /* Espace intérieur de la carte */
  border-radius: 10px; /* Bords arrondis de la carte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre portée pour donner un effet 3D */
  max-width: 600px; /* Largeur maximale de la carte */
  margin: 20px auto; /* Centrage de la carte avec une marge */
  color: #E6E6E6; /* Couleur du texte dans la carte */
  text-align: center; /* Alignement du texte au centre */
}

/* Styles pour les liens dans #contact */
#contact a {
  color: #00BFFF; /* Couleur des liens */
  text-decoration: none; /* Supprime le soulignement par défaut */
}

/* Styles au survol pour les paragraphes et les liens */
#contact p:hover, #contact a:hover {
  color: #E6E6E6; /* Change la couleur au survol */
  text-decoration: underline; /* Ajoute un soulignement au survol pour les liens */
}


/* ABOUT */

#about {
  /* autres styles de base */
  opacity: 0;
  transform: translateX(-50px);
  animation: slideRightFadeIn 1s ease forwards;
}

@keyframes slideRightFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#about h2, #about p {
  transition: text-shadow 0.3s ease;
}

#about:hover h2, #about:hover p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

img {
  padding: 5%;
}

/* EDUCATION */
/* Style de base de la section Éducation */
#education {
  margin: 20px auto;
  border-radius: 8px; /* Bords arrondis pour un style moderne */
  max-width: 800px; /* Contrôle de la largeur maximale pour le centrage */
}

/* Style des éléments individuels d'éducation */
.education-item {
  background-color: #212121;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px; /* Bords arrondis */
  color: #ecf0f1; /* Couleur de texte pour le contraste */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre douce */
  transition: transform 0.5s ease, box-shadow 0.5s, easebackground-color 0.5s ease, color 0.3s ease; /* Transition douce pour l'hover */
}

.education-item:hover {
  transform: translateY(-5px); /* Léger effet de levée au survol */
  box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Ombre plus prononcée au survol */
  background-color: #00BFFF;
  color: #212121;
}

/* Amélioration des titres et des paragraphes pour plus de lisibilité */
#education h2, .education-item h3, .education-item p {
  margin: 15px 0;
  text-align: center;
}

/* Animation pour chaque élément d'éducation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.education-item {
  opacity: 0; /* Début avec l'élément invisible */
  animation: fadeInUp 0.5s ease forwards; /* Applique l'animation */
}

/* Décalage de l'animation pour chaque élément d'éducation */
.education-item:nth-child(1) {
  animation-delay: 0.3s;
}
.education-item:nth-child(2) {
  animation-delay: 0.6s;
}


/* Expérience */

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


#experience .card {
  background-color: #212121;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; 
  text-align: center;
  width: 30%;
  display: block;
}


#experience img {
  width: 80%; 
}



/* Style du carrousel de compétences */
#skills {
  text-align: center;
  padding: 20px 0; /* Ajout d'un peu de padding autour du carrousel */
}

#skills .slick-list {
  display: flex; /* conteneur du carrousel doit utiliser flex */
}

#skills .slick-track {
  display: flex; /* Garde les slides sur la même ligne */
  margin-bottom: 4%;
}

/* Styles des slides */
#skills .slick-slide {
  background-color: #212121;
  margin: 10px; /* Ajuster selon l'espace nécessaire */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color: #E6E6E6;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0 0 auto;
}

#skills .slick-slide img {
  max-width: 100px; /* Ajuster la taille des images */
  margin-bottom: 10px; /* Espace entre l'image et le texte */
}

/* Styles au survol */
#skills .slick-slide:hover {
  background-color: #00BFFF;
  color: #303030;
}

/* Personnalisation des contrôles du carrousel */
.slick-dots li button:before {
  color: #00BFFF; /* Couleur des points */
}

.slick-prev:before, .slick-next:before {
  color: #00BFFF; /* Couleur des flèches */
}


/* Contact */

/* Contact */
#contact {
  /* Styles existants */
  color: #E6E6E6;
}

#contact p:hover {
  color: #00BFFF;
  /* Autres styles existants */
}

/* Styles pour les liens dans #contact */
#contact a {
  color: inherit; /* Hérite la couleur du parent, ici #E6E6E6 */
  text-decoration: none; /* Supprime le soulignement par défaut */
}

/* Styles au survol pour les paragraphes et les liens */
#contact p:hover, #contact a:hover {
  color: #00BFFF; /* Change la couleur au survol */
  text-decoration: none; /* Ajoute un soulignement au survol pour les liens */
}



/* Projet */

/* Projet */
#projets {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projet {
  width: 60%;
  background-color: #212121;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #E6E6E6;
  margin: 1%;
}

.projet h3 {
  color: #00BFFF;
}

.projet a {
  color: #00BFFF;
  text-decoration: none;
}

.container-tramstras {
  display: flex; /* Utilise flexbox pour le positionnement */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.container-tramstras img {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
  height: auto; /* Garde le ratio de l'image */
}


.container-verifpassword {
  display: flex; /* Utilise flexbox pour le positionnement */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.container-verifpassword img {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
  height: auto; /* Garde le ratio de l'image */
}
